<div class="container">
  <div class="row">
    <div class="col text-center">
      <!--!  pathnya dari root, langsung ke img (tanpa masuk ke public dulu)  -->
      <img src="img/pp_reza.jpg" alt="Rpf" class="img-thumbnail" width="400" />
      <h2 class="display-4">Reza Putra Febriyan</h2>
      <p class="lead">Stundents</p>
    </div>
  </div>
</div>
